<html>
  <body>
    <link rel="stylesheet" type="text/css" href="vessels.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="test.js"></script>
  <header>
    <div id="accessCode" style="display:hidden;"></div>
  </header>
     <!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns">
          {{ key }}
         </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in data">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>
   <div id="main">
  <h1>Vue project</h1>
  <div id="app">
    <p>Vessels of Washington State</p>
   {{message}}

    <vessel-item
     :data="vessels"
     :columns="gridColumns">
    </vessel-item>

  
  </div> 
 <button>Update</button>
</div>
  </body>
</html>
